<h3>Welcome to FoodFest!</h3>

<button class="btn btn-dark" onclick="document.location='authentication/register'">Sign Up</button>
<button class="btn btn-dark" onclick="document.location='authentication/login'">Log In</button>

@code {

}
